:root {
  --primary-color: #ffe76e;
  --secondary-color: #fae5d1;
  --dark-gray-color: #615d59;
  --universal-gray-100: #121212;
  --universal-gray-200: #ccc;
  --universal-gray-500: #9f9f9f;
  --universal-gray-800: #585757;
  --universal-black: #2f2f2f;
  --input-nav-background-color: #fff;
  --background-color: #fff;
  --input-stroke-color: #ccc;
  --universal-red-800: #873c35;
  --universal-red-500: #d71920;
  --universal-red-300: #e46054;
  --font-color: #333;
  --error-color: #e32719;
  --purple-color: #704b9d; /* TODO var */
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.font-inter {
  font-family: 'Inter', sans-serif;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset; /*your box-shadow*/
  -webkit-text-fill-color: #333;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
