apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${BUILD_REPOSITORY_NAME}-app
  namespace: ${NAMESPACE}
  labels:
    service: app
spec:
  selector:
    matchLabels:
      service: app
  template:
    metadata:
      labels:
        service: app
    spec:
      containers:
        - image: ${IMAGE_TAG}
          name: app
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              cpu: 800m
              memory: 8Gi
            requests:
              cpu: 50m
              memory: 256Mi
          envFrom:
            - configMapRef:
                name: ${BUILD_REPOSITORY_NAME}-env
            - secretRef:
                name: ${BUILD_REPOSITORY_NAME}-general-secret
            - secretRef:
                name: ${BUILD_REPOSITORY_NAME}-cloudflare-turnstile-secret
          readinessProbe:
            httpGet:
              path: /api/healthcheck
              port: ${INTERNAL_APP_PORT}
            timeoutSeconds: 5
            periodSeconds: 20
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      imagePullSecrets:
        - name: ${IMAGE_PULL_SECRET}
