@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../modules/common/MDatePicker/MDatePicker.css';

/* Mobile screen font sizes */
:root {
  --font-size-h1: 1.75rem; /* 28px */
  --font-size-h2: 1.5rem; /* 24px */
  --font-size-h3: 1.25rem; /* 20px */
  --font-size-h4: 1.125rem; /* 18px */
  --font-size-h5: 1rem; /* 16px */
  --font-size-h6: 1rem; /* 16px */
}

/* Larger screen font sizes */
@screen md {
  :root {
    --font-size-h1: 2.5rem; /* 40px */
    --font-size-h2: 2rem; /* 32px */
    --font-size-h3: 1.75rem; /* 28px */
    --font-size-h4: 1.5rem; /* 24px */
    --font-size-h5: 1.25rem; /* 20px */
    --font-size-h6: 1rem; /* 16px */
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-foreground-heading;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
}

@layer components {
  .base-input {
    @apply box-border inline-block appearance-none border bg-white px-3 py-2 text-base text-foreground-heading;
    @apply border-border-light placeholder:text-foreground-body hover:border-border-dark focus:border-border-dark;
  }

  .base-input--with-error {
    @apply border-error;
  }

  .base-radio {
    @apply flex h-5 w-5 items-center rounded-full border-2 border-border-dark;
    @apply box-border justify-center overflow-hidden;
  }
}

.chq-atc--button > svg {
  vertical-align: text-bottom;
  display: none;
}

.chq-atc--button {
  background: transparent;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

.chq-atc--button path {
  fill: #2f2f2f;
}

.chq-atc--dropdown a {
  font-size: 14px;
  line-height: 22.4px;
  text-align: center;
  color: #2f2f2f;
  display: block;
  padding: 8px 15px;
  text-decoration: none;
}

.chq-atc {
  display: inline-block;
  position: relative;
}

.chq-atc--dropdown {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  box-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  z-index: 1;
}

.chq-atc--dropdown a:hover {
  color: rgb(193, 199, 209);
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset; /*your box-shadow*/
  -webkit-text-fill-color: #333;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
